Faces/jay.0.jpg
Faces/jay.1.jpg
Faces/jay.2.jpg
Faces/jay.3.jpg
Faces/jay.4.jpg
Faces/jay.5.jpg
Faces/jay.6.jpg
Faces/jay.7.jpg
Faces/jay.8.jpg
__pycache__/gui.cpython-39.pyc
dataset_faces.dat
__pycache__/facial_recognition_data_capture.cpython-39.pyc
